@font-face {
    font-family: 'PlayfairDisplay-MediumItalic';
    src: url('../fonts/PlayfairDisplay-MediumItalic.ttf') format('truetype');
}
body {
    font-family: Arial, serif;
    line-height: 1.6;
    color: #333;
    background-color: #eee0d7;   /* f4f4f4  branco gris*/
    margin: 0;
    padding: 0;	
}
header {
    font-family: 'PlayfairDisplay-MediumItalic', serif;
    /*background-color: #b30016ff;    0c4120ff verde oscuro*/
    background: linear-gradient(90deg, black, #aa0403, #cf0403, #aa0403, black);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
      justify-content: space-between;
      position: sticky;
      padding: 10px;
      gap: 10px;
}
.logo {
max-width: 200px; /* Tamaño estándar del logo */
transition: all 0.3s ease-in-out;
}
.logo-link img {
display: block;
}
.h1 {
/*font-size: 1.5rem;*/
margin: 0;
}
footer {
    font-family: 'PlayfairDisplay-SemiBold', serif;
    background-color: #b30016ff;   /* 0c4120ff verde oscuro*/
    color: #fff;
    padding: 1em;
    text-align: center;
}
nav {
    text-align: center;
    padding: 1em;
}
nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
main {
    max-width: 80%;
    margin: auto;
    padding: 1em;
    background-color: #fff;
}
/* Estilos para pantallas medianas (tablets)
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
} */
/* Estilos para pantallas pequeñas (teléfonos) */
@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
      header {
	flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px;
        gap: 10px;
      }
      .logo {
        max-width: 250px; /* Tamaño más grande del logo */
      }
}
/* Estilos para pantallas grandes (escritorios) */
@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }
   /* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 150px;
    }*/
	  header {
	    flex-direction: row; /* Logotipo a la izquierda */
	    justify-content: space-between;
	    align-items: center;
	    height: 100px;
	    padding: 0 20px;
	}
	.logo {
	  max-height: 100%; /* Ocupa toda la altura del header */
	  max-width: 150px; /* Tamaño fijo */
	  }
}

