body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;   /* f4f4f4 */
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: #0c4120ff;   /* 2b2b2b*/
    color: #fff;
    padding: 1em;
    text-align: center;
}
nav {
    text-align: center;
    padding: 1em;
}
nav a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
}
main {
    max-width: 800px;
    margin: auto;
    padding: 1em;
    background-color: #fff;
}
/* Estilos para pantallas pequeñas (teléfonos) */
@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
}
/* Estilos para pantallas medianas (tablets) */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
/* Estilos para pantallas grandes (escritorios) */
@media (min-width: 1024px) {
    body {
        font-size: 18px;
    }
    header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 150px;
    }
}

